<html>

<head>
	<link rel="stylesheet" href="/game.css">
</head>

<body class="mx-8">
	<h1 class="text-3xl font-bold">AHOT Trivia Game</h1>

	<div class="hidden" id="home">
		<h2 class="font-bold">Home</h2>
		<p class="my-4">Information about the game</p>
		<button class="bg-slate-400 rounded rounded-full p-3" id="startGame">Start a new game</button>
	</div>

	<div class="hidden" id="join">
		<h2>Join</h2>
		<p>Enter your name to join.</p>
	</div>

	<script type="module" src="/client.js"></script>
</body>

</html>